<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Trending Blog</title>
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container m-8 mt-4">
      <div class="alert alert-success" role="alert">
        " If Blog Have more than 70 likes it will we trending Blog "
      </div>
    </div>

    <div class="container m-8 mt-4">
      <% if (allBlogs && allBlogs.length > 0) { %> <% allBlogs.forEach((blog) =>
      { %> <% if (blog.blogLikes > 70) { %>

      <div class="card mb-3">
        <div class="card-header">
          <h5 class="card-title"><%= blog.blogTitle %></h5>
          <p class="card-text">By <%= blog.blogAuthor %></p>
        </div>
        <div class="card-body">
          <p class="card-text"><%= blog.blogBody %></p>
        </div>
      </div>

      <% } %> <% }); %> <% } else { %>
      <p>No Trending blogs rn.</p>
      <% } %>
    </div>

    <%- include('./partials/scripts') %>
  </body>
</html>
